<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ReportImportModelDao">
    <sql id="reportImportModelBaseField">
        rim.id,
        rim.file_name AS fileName,
        rim.model_id AS modelId,
        rim.create_id AS createName,
        CONVERT(rim.create_time, char) createTime,
        rim.last_update_id AS lastUpdateName,
        CONVERT(rim.last_update_time, char) lastUpdateTime
    </sql>

    <select id="getReportImportModelList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.file_name fileName,
            a.model_id modelId,
            b.user_name createName,
            CONVERT(a.create_time, char) createTime,
            c.user_name lastUpdateName,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            report_import_model a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
            LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
        WHERE 1 = 1
        <if test="fileName != '' and fileName != null">
            AND a.file_name LIKE '%${fileName}%'
        </if>
        <if test="modelId != '' and modelId != null">
            AND a.model_id LIKE '%${modelId}%'
        </if>
    </select>

    <select id="queryReportImportModelByFileName" resultType="java.lang.Integer">
        SELECT count(1) FROM report_import_model t where t.file_name = #{fileName}
    </select>

    <select id="queryReportImportModelByModelId" resultType="java.lang.Integer">
        SELECT count(1) FROM report_import_model t where t.model_id = #{modelId}
    </select>

    <insert id="insertReportImportModel" parameterType="java.util.Map">
        INSERT INTO report_import_model
            (id, file_name, model_id, create_id, create_time, last_update_id, last_update_time)
        VALUES
            (#{id}, #{fileName}, #{modelId}, #{userId}, #{createTime}, #{userId}, #{createTime})
    </insert>

    <update id="updateReportImportModelById" parameterType="java.util.Map">
        UPDATE report_import_model
        SET
        <if test="fileName != '' and fileName != null">
            file_name = #{fileName},
        </if>
        <if test="modelId != '' and modelId != null">
            model_id = #{modelId},
        </if>
        last_update_id = #{userId},
        last_update_time =  #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="delReportImportModelById">
        DELETE FROM
            report_import_model
        WHERE id = #{id}
    </delete>

    <select id="getReportImportModelById" resultType="java.util.Map">
        SELECT
            <include refid="reportImportModelBaseField"/>
        FROM report_import_model rim
        WHERE rim.id = #{id}
    </select>
</mapper>