<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet"/>
</head>
<body style="background-color: rgb(242, 242, 242);">
    <div class="layui-fluid">
        <form class="layui-form" action="">
            <div class="layui-col-xs12 margin-top-10 layui-col-space15">

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            项目参与人
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font">2人</p>
                            <p>
                                <a target="_blank" href="https://gitee.com/doc_wei01_admin"><span class="layui-badge layui-bg-blue">卫志强</span></a>
                                <a target="_blank" href="https://gitee.com/Jadan-Z"><span class="layui-badge layui-bg-blue">郑杰</span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            BBBBB
                            <span class="layui-badge layui-bg-green header-right-top">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font" id="retailMoney">0.00</p>
                            <p>BBB</p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            CCCCC
                            <span class="layui-badge layui-bg-orange header-right-top">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font" id="purchaseMoney">0.00</p>
                            <p>CCCC</p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            DDDDD
                            <span class="layui-badge header-right-top">月</span>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font" id="profitMoney">0.00</p>
                            <p>DDDD</p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs6">
                    <div class="layui-card">
                        <div class="layui-card-header">注意事项</div>
                        <div class="layui-card-body">
                            <div id="layer04_chart1" class="layui-row" style="height: 400px;">
                                <ul>
                                    <li>1.该报表引擎属于开源软件，商业用途请保留作者相关信息以及产品著作权信息。</li>
                                    <li>2.需要进微信群的，进微信群需要支付五元费用(加我拉你进群(请备注：报表)，wzq_598748873)，为了防止发广告的等，望谅解。</li>
                                    <li>3.不会搭建环境的，可以出钱让作者帮忙搭建，一次100，先付。</li>
                                    <li>4.项目地址：<a target="_blank" href="https://gitee.com/doc_wei01/skyeye-report" style="color: blue">https://gitee.com/doc_wei01/skyeye-report</a>。</li>
                                    <li>5.以下条例视为侵权操作：
                                        <ul style="padding-left: 27px">
                                            <li>a.下载项目后，私自修改项目出处、署名、版权、项目名称等信息</li>
                                            <li>b.允许商用，但禁止以盈利为目的进行销售(意思就是说禁止销售)</li>
                                            <li>c.私自修改项目默认首页信息</li>
                                            <li>...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs6">
                    <div class="layui-card">
                        <div class="layui-card-header">提单</div>
                        <div class="layui-card-body">
                            <div id="layer04_chart2" class="layui-row" style="height: 400px;">
                                <form class="layui-form" action="" autocomplete="off">
                                    <div class="layui-form-item layui-col-xs12">
                                        <label class="layui-form-label">提单地址：</label>
                                        <div class="layui-input-block ver-center" style="padding-top: 4px">
                                            <a target="_blank" href="https://gitee.com/doc_wei01/erp-pro/issues/new?issue%5Bassignee_id%5D=0&issue%5Bmilestone_id%5D=0" style="color: blue">地址1</a>
                                            <a target="_blank" href="https://gitee.com/doc_wei01/skyeye/issues/new?issue%5Bassignee_id%5D=0&issue%5Bmilestone_id%5D=0" style="color: blue">地址2</a>
                                            <a target="_blank" href="https://gitee.com/doc_wei01/editorAnnotate/issues/new?issue%5Bassignee_id%5D=0&issue%5Bmilestone_id%5D=0" style="color: blue">地址3</a>
                                            <a target="_blank" href="https://gitee.com/doc_wei01/skyeye-report/issues/new?issue%5Bassignee_id%5D=0&issue%5Bmilestone_id%5D=0" style="color: blue">地址4(报表)</a>
                                            <a target="_blank" href="https://gitee.com/doc_wei01/knowlg-pro/issues/new?issue%5Bassignee_id%5D=0&issue%5Bmilestone_id%5D=0" style="color: blue">地址5</a>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-col-xs12">
                                        <label class="layui-form-label">提单模板：</label>
                                        <div class="layui-input-block ver-center" style="padding-top: 4px; border: 1px solid gray; background-color: gainsboro; padding-left: 5px;">
                                            模块：报表<br>
                                            操作步骤：以实际情况为主<br>
                                            错误效果图/视频：<br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs6">
                    <div class="layui-card">
                        <div class="layui-card-header">其他商业软件(开源一个版本，商业一个版本)</div>
                        <div class="layui-card-body">
                            <div id="layer04_chart3" class="layui-row" style="height: 400px;">
                                <form class="layui-form" action="" autocomplete="off">
                                    <div class="layui-form-item layui-col-xs12">
                                        <label class="layui-form-label">清单以及价格表：</label>
                                        <div class="layui-input-block ver-center" style="padding-top: 4px">
                                            <a target="_blank" href="https://docs.qq.com/doc/DQlRxcVRMWWVjbU1i?_from=1&disableReturnList=1" style="color: blue">
                                                https://docs.qq.com/doc/DQlRxcVRMWWVjbU1i?_from=1&disableReturnList=1</a>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-col-xs12">
                                        <label class="layui-form-label">OA开源地址：</label>
                                        <div class="layui-input-block ver-center" style="padding-top: 4px">
                                            <a target="_blank" href="https://gitee.com/doc_wei01/skyeye" style="color: blue">
                                                https://gitee.com/doc_wei01/skyeye</a>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-col-xs12">
                                        <label class="layui-form-label">ERP开源地址：</label>
                                        <div class="layui-input-block ver-center" style="padding-top: 4px">
                                            <a target="_blank" href="https://gitee.com/doc_wei01/erp-pro" style="color: blue">
                                                https://gitee.com/doc_wei01/erp-pro</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
</body>
</html>